body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Segoe UI;
}

.hide-me {
    display: none;
}

.game-title {
    font-size: 48px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 100px;
    width: 80%;
}

.select {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.select img {
    width: 125px;
    height: auto;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #ebcb75
}

.game-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;
    gap: 36px;
    font-size: 30px;
}

.img-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.img-container img {
    width: 150px;
    height: auto;
    border: 3px solid palevioletred;
    border-radius: 15px;
}

.game-area .game-info {
    width: 100%;
    display: flex;
    justify-content: center;
}

.reset {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reset p {
    text-align: center;
}

.reset button {
    padding: 8px;
    font-size: 36px;
    background-color: blue;
    border: 2px solid pink;
    border-radius: 16px;
}